*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body
{
    width: 100%;
}

.mail-box
{
    /* border: 2px solid black; */
    height: 50px;
    width: 400px;
    position: relative;

}

.mail-box input
{
    border: none;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 1px 20px;
    height: 100%;
    width: 100%;
    /* margin: 30px 30px; */
    /* position: absolute;
    top: 0px;
    left: 0px;
     */

}

.mail-box .signup-button
{
    background-color: orangered;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    position: absolute;
    left: 310px;
    top: 10px;
}

